#map {
	height: 100%;
}

#timeline {
  position: relative;
  width: 852px;  
  height: 120px;
}

#thediv {
	margin:0 auto;
	height:829px;
	width:1710px;
	overflow:hidden;
}
img {
	position: relative;
	left: 50%;
	top: 50%;
}